sudo: false

language: python

matrix:
  include:
    - python: "3.6"
    - python: "3.6-dev"
    - python: "3.7"
      dist: xenial
      sudo: true
    - python: "3.7-dev"
    - python: "3.8-dev"
      dist: xenial
      sudo: true
    - python: "nightly"

env:
  global:
    - PIPENV_VERBOSITY=-1

install:
  - pip install pipenv
  - pipenv install --dev
  - pipenv install codecov

script:
  - flake8
  - coverage run -m unittest discover -v -s tests -p "*_test.py" -t .
  - sphinx-build -b html docs/source docs/build

after_success:
- codecov
